html * {
    font-family: Arial !important;
    overflow: scroll;
}

svg {
    display: inline-block;
    vertical-align: top;
}

.credits {
    font-size: 10px;
}

div.tooltip {
    position: absolute;
    text-align: center;
    width: 700px;
    min-height: 40px;
    background: white;
    padding: 8px;
    border: 1px solid black;
    border-radius: 10px;
    cursor: pointer;
    overflow-wrap: break-word;
    font-size: 15px;
    z-index: 2;
}

#header {
    margin-top: 10px;
    font-size: 25px;
    text-align: center;
    height: 80px;
    width: 900px;
}

.description {
    font-size: 15px;
    margin-left: 1%;
    margin-right: 5%;
    text-align: justify;
    width: 260px;
}

.instructions {
    color:red;
}

.button {
    background-color: #B0B0B0; /*dark blue */
    color: white;
    padding: 10px 5px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 15px;
    width: 260px;
    border-radius: 10px;
    border: 3px solid white;
}

th {
    text-align: center;
}


#leftDiv {
    width: 300px;
    height: 100%;
    float: left;
    margin-left: 1%;
}

#rightDiv {
    margin-left: 1%;
    height: 100%;
    width: 500px;
}
